---
title: Examples
---

## Table of content:

| Name | Description | Source   | Args  | Memory | Trace | Private Input | Public Input | Proof | Prover config | Prover Params |
| :--- | :---        | :---: | :---: | :---:  | :---: | :---:         | :---:        | :---: | :---:         | :---:         |
{% for i in examples -%}
| [{{ i.name | replace("_"," ") | capitalize }}](#{{ i.name | replace("_","-") }}) | {{ i.short_description }} | [●]({{ i.src_path }}) | {% if i.args_path is not none %} [●]({{ i.args_path }}) {% else %} x {% endif %} | [●]({{ i.memory_path }}) | [●]({{ i.trace_path }}) | [●]({{ i.private_input_path }}) | [●]({{ i.public_input_path }}) | [●]({{ i.proof_path }}) | [●]({{ i.prover_config_path }}) | [●]({{ i.prover_params_path }}) |
{% endfor %}

{% for i in examples %}
## {{ i.name | replace("_"," ") | capitalize }} 

([src]({{ i.src_path}}))
{% if i.args_path %}([input arguments]({{ i.args_path }})){% endif %}
([table of contents](#table-of-content))

{{ i.full_description }}

**Outputs Format**: 

    {{ i.outputs_format }}

**Memory Layout**: 

    {{ i.memory_layout }}
{% if i.args_path %}
**Arguments Format**: ([arguments file]({{ i.args_path }}))

    {{ i.args_format }}
{% endif %}
**Execution traces**:

[Memory File]({{ i.memory_path }})

[Trace File]({{ i.trace_path }})

[Private Input]({{ i.private_input_path }})

[Public Input]({{ i.public_input_path }})

[Proof]({{ i.proof_path }})

[Prover Config]({{ i.prover_config_path }})

[Prover Params]({{ i.prover_params_path }})

{% endfor %}




