name: Build
on:
  push:
    branches:
      - 'master'
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - 'master'

jobs:
  build:
    name: Docker images for ghcr.io
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest]
        arch: [amd64, arm64]
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
      DOCKER_REGISTRY: ghcr.io
      DOCKER_IMAGE_BASE: ${{ github.repository }}
      DOCKER_PLATFORM: linux/${{ matrix.arch }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to the registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Prover and Verifier

      - name: Prover&Verifier image tags & labels
        id: meta-all
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.DOCKER_REGISTRY }}/${{ env.DOCKER_IMAGE_BASE }}/stone-prover-${{ matrix.arch }}

      - name: Prover&Verifier image build & push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile
          push: true
          platforms: ${{ env.DOCKER_PLATFORM }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ${{ steps.meta-all.outputs.tags }}
          labels: ${{ steps.meta-all.outputs.labels }}


      # Prover

      - name: Prover image tags & labels
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.DOCKER_REGISTRY }}/${{ env.DOCKER_IMAGE_BASE }}/cpu_air_prover-${{ matrix.arch }}
      - name: Prover image build & push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: air_prover/Dockerfile
          push: true
          platforms: ${{ env.DOCKER_PLATFORM }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      # Verifier

      - name: Verifier image tags & labels
        id: meta-ver
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.DOCKER_REGISTRY }}/${{ env.DOCKER_IMAGE_BASE }}/cpu_air_verifier-${{ matrix.arch }}
      - name: Verifier image build & push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: air_verifier/Dockerfile
          push: true
          platforms: ${{ env.DOCKER_PLATFORM }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ${{ steps.meta-ver.outputs.tags }}
          labels: ${{ steps.meta-ver.outputs.labels }}
